.footer{
    background: #1D1D1E;
    padding: 58px 113px;
}
.top_footer{
    display: grid;
    grid-template-columns: 30% 60%;
    margin: 0px 0px 37px;
}
.footer_logo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.socialmedia_icons{
    display: flex;
    gap: 32px;
    align-items: center;
    margin: 0px 0px 50px;
}
.socialmedia_icons img{
    cursor: pointer;
}
.footer_menu{
    display: flex;
    justify-content: space-between;
}
.footer_menu h5{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0px 0px 23px;
}
.footer_menu ul li{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 35px;
    display: flex;
    align-items: center;
    color: #F1F3F9;
    cursor: pointer;
    margin: 0px 0px 13px;
}
.footer_menu ul li:last-child{
    padding: 5px 0px 0px;
}
.bottom_footer{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #F7F7F7;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
}