.footer{
    background: #1D1D1E;
    padding: 48px 7%;
}
.footer_menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer_logo_img img{
    width: 100%;
}
.socialmedia{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.socialmedia_icons{
    display: flex;
    gap: 32px;
    align-items: center;
    margin: 0px 0px 50px;
}
.socialmedia_icons img{
    cursor: pointer;
}
.footer_col:nth-child(1){
    width: 40%;
    max-width: 270px;
}
.footer_col{
    width: 25%;
    padding: 10px;
}
.footer_col h5{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0px 0px 23px;
}
.footer_col ul li{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 35px;
    display: flex;
    align-items: center;
    color: #F1F3F9;
    cursor: pointer;
    margin: 0px 0px 13px;
}
.footer_col ul li:last-child{
    padding-top: 5px;
}
/* .footer_col ul li:hover{
    padding-left: 8px;
} */
.bottom_footer{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #F7F7F7;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
}
@media screen and (max-width: 1200px){
    
}
@media screen and (max-width: 1024px){
    .footer_col{
        width: 50%;
        margin-bottom: 10px;
    }
    .top_footer{
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 768px){
    .footer_col{
        width: 50%;
        margin-bottom: 10px;
    }
    .top_footer{
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 480px){
    .footer_col{
        width: 100%;
        margin-bottom: 10px;
        /* justify-content: center; */
    }
}