.modal_overlay{
    background: rgba(64, 64, 64, 0.3);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.modal{
    position: absolute;
    width: 600px;
    height: 326px;
    left: 420px;
    top: 347px;
    background: #FFFFFF;
    border-radius: 16px;
}
.modal_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 32px;
    flex-direction: row;
    border-bottom: 1px solid #CFD8DC;
    overflow: hidden;
}
.modal_header span{
    display: flex;
}