.modal_overlay{
    background: rgba(64, 64, 64, 0.3);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.modal{
    position: absolute;
    max-width: 600px;
    height: 326px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    border-radius: 16px;
}
.modal_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 32px;
    flex-direction: row;
    border-bottom: 1px solid #CFD8DC;
    overflow: hidden;
}
.modal_header h3{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #333333;
}
.modal_header span{
    display: flex;
}
.modal_body{
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.modal_body p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px; 
    color: #333333;
}
.modal_body .modal_links{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 20px;
    gap: 5px;
    width: 100%;
    height: 68px;
    border: 1px solid #CFD8DC;
    border-radius: 12px;
}
.modal_body .modal_links:nth-child(even){
    background: #F8F9FA;
}
.modal_links > *{
    display: flex;
}
.modal_header span, 
.modal_links{
    cursor: pointer;
}
